@import scheduler/scheduler.sass
@import garden/garden.sass
@import plants/plants.sass
@import users/users.sass
@import bower_components/bootstrap-sass-twbs/assets/stylesheets/bootstrap.scss
@import bower_components/font-awesome/scss/font-awesome.scss
@fa-font-path: bower_components/font-awesome/fonts

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a
  cursor: pointer

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//    &.fade {
//        .transition(opacity .3s);
//    }
//    &.fade .modal-dialog {
//        .translate(0,0);
//    }
//}

=filter-blur($amount)
  filter: blur($amount)
  -webkit-filter: blur($amount)
  -moz-filter: blur($amount)
  

html,
body
  width: 100%
  height: 100%

.background
  background-image: url('/img/bg.jpg')
  background-size: cover
  position: fixed
  top: -30px
  bottom: -30px
  right: -30px
  left: -30px
  +filter-blur(16px)
  z-index: -1

.page-content
  display: table
  width: 100%
  height: 100%
  max-width: 800px
  margin: auto

.vcenter
  display: table-cell
  vertical-align: middle

img[src="/img/logo.gif"]
  width: 100%
  
.bg-dark
  background: rgb(34,34,34)
  background: rgba(34,34,34,0.6)